<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CRM-客户管理系统-锋速网络</title>
	<link href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
	<div id="header">
			<h1>CRM-客户管理系统</h1>
	</div>
	<ul class="breadcrumb">
		<li><a href="/main/index">文章管理</a></li>
		<li><a href="/category/index">分类管理</a></li>
		<li><a href="/menu/index">菜单管理</a></li>
		<li><a href="/user/index">用户管理</a></li>
		<li><a href="/index/logout">退出</a></li>
	</ul>
